@font-face {
    font-family: 'PlayfairDisplay-Regular', sans-serif;
    font-weight: 400;
    src: url(../fonts/PlayfairDisplay-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    src: url(../fonts/PlayfairDisplay-Regular.ttf) format('truetype');
}
